/* src/components/Portfolio.css */
.portfolio {
  padding: 20px;
  background-color: #f8f9fa;
  color: #333;
}

.portfolio h2, .portfolio h3 {
  color: #2c3e50;
}

.portfolio ul {
  list-style-type: none;
  padding: 0;
}

.portfolio li {
  padding: 10px 0;
}

.portfolio a {
  text-decoration: none; /* Remove underline */
}

.portfolio a:hover {
  text-decoration: underline; /* Underline on hover */
}

.resume-container {
  margin-top: 20px;
}

.download-link {
  display: inline-block;
  margin-top: 10px;
  background-color: #3498db; /* Button background color */
  color: white; /* Button text color */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none; /* Remove underline */
}

.download-link:hover {
  background-color: #2980b9; /* Darker shade for hover effect */
}
